a{
    display: block;
    cursor: pointer;
    color: blue;
    margin-left: 8px;
}
h3{
    margin-left: 8px;
}
a:hover{
    color: purple;
}
.title{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
main{
    display: flex;
}
.index{
    position: relative;
    display: inline-block;
}
.content-index{
    width: 200px;
    border: solid;
    border-width: 1px;
    height: 250px;
    position: fixed;
    left: 0;
    background-color: rgb(243, 243, 243);
}
.content{
    display: inline-block;
    margin-left: 250px;
}
.header{
    display: block;
    width: 700px;
    margin-left: 10px;
    margin-right: 50px;
    border-width: 1px;
    border: solid;
    background-color: white;
}
.story{
    width: 700px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}
.footer{
    width: 700px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 50px;
    border-width: 1px;
    display: flex;
    gap: 572px;
    background-color: transparent;
    text-align: center;
}
p{
    margin-left: 10px;
    margin-right: 20px;
    text-align: justify;
}
.button{
    color: black;
    text-decoration: none;
    display: inline-block;
     text-align: center;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}
body{position: absolute;
    background-image: url(background.jpg);
    background-color: #cccccc;
}
